services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: http://13.218.113.152:8080
    ports:
      - "3000:3000"
    depends_on:
      - backend
